{% extends 'base.html.twig' %}


{% block body %}
<h1>Planning :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Samedi</th>
                <th>Dimanche</th>
            </tr>
        </thead>
       
    </table>


{% endblock %}
